:root{
  --background-web: #cecfc9;
  --background-tarjetas: #efefef;
  --titulos: #0a3143;
  --textos: rgb(93, 93, 93);
  --sombras: rgba(36, 0, 144, 0.3);
  --boton: #276e90;
  --fondo-logos: none;
  --sombras-logo: none;
}