:root{
  --background-web: rgb(18, 18, 18);
  --background-tarjetas: rgb(26, 26, 26);
  --titulos:  rgb(96, 95, 95);
  --textos:rgb(121, 120, 120);
  --sombras: rgba(3, 218, 198, 0.25);
  --boton: rgb(6, 175, 158);
}