:root{
  --background-web: #121212;
  --background-tarjetas: #1f1f1f;
  --titulos: #dedcdca3;
  --textos: #ffffff6d;
  --sombras: rgba(3, 218, 198, 0.25);
  --boton: rgb(6, 175, 158);
  --fondo-logos: rgba(255, 255, 255, 0.05);
  --sombras-logo: rgba(3, 218, 198, 0.25);
}