.pie{
  background: var(--background-tarjetas);
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
  color: var(--textos);
}

@media screen and (max-width: 768px) {
.pie{
  font-size: 0.6rem;
}
}