.estudios {
  background: var(--background-web);
  padding: 2rem 3rem;
}

.estudios-titulo {
  color: var(--titulos);
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.4rem;
  padding: 0 0 3rem 0;
  overflow: hidden;
}

.estudios-contenedor {
  display: flex;
  justify-content: space-between;
}

.estudio {
  background-color: var(--background-tarjetas);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 22%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 21px 9px var(--sombras);
}

.estudio:hover {
  transform: scale(1.03);
  transition: 500ms;
  background-color: rgba(128, 128, 128, 0.05);
}

.estudio-img {
  width: 60%;
  border-radius: 8px;
}

.estudio h1 {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: var(--titulos);
}

.estudio p {
  color: var(--textos);
  padding: 0 0.5rem;
  line-height: 1.1rem;
}

#certificado{
  padding-top: 1rem;
  color: var(--textos);
  font-size: 0.7rem;
  align-items:baseline;
}

@media screen and (max-width: 768px) {
  .estudios {
    padding: 1rem 1rem;
  }
  .estudio-img {
    width: 50%;
  }
  .estudios-contenedor{
    flex-direction: column;
    align-items: center;
  }
  .estudios-titulo {
    font-size: 2rem;
    padding: 1rem;
  }
  .estudio {
    padding: 1rem 0;
    width: 65%;
    margin: 2rem;
  }
  .estudio h1 {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .estudio p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .estudios{
    padding: 2rem;
  }
  .estudios-titulo {
    font-size: 1.5rem;
    padding: 0 1rem 2rem 1rem;
  }
  .estudio {
    padding: 1rem;
    width: 20%;
  }
  .estudio h1 {
    font-size: .9rem;
    padding: 0.5rem;
  }
  .estudio p {
    font-size: 0.6rem;
  }
  .estudio-img {
    width: 70%;
  }
}
